@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Poppins&family=Roboto:ital@0;1&display=swap');

/* root styling */
:root{
    --background: #dad7cd;
    --light: #669bbc;
    --secondary: #274c77;
    --dark: #003049;
}

body{
    font-family: "Roboto", sans-serif;
    padding:0;
    margin:0;
}

a{
    text-decoration: none;
}

* > *{
    box-sizing: border-box;
}

/* global styling */

.text-light{
    color: var(--light);
}

.text-secondary{
    color: var(--secondary);
}

.text-dark{
    color: var(--dark);
}

.bg{
    background-color: var(--background);
}

.bg-light{
    background-color: var(--light);
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}

.img-fluid{
    width: 100%;
}

.text-title{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
}

.secondary-title{
    font-family: 'Poppins', sans-serif;
}

.footer-text{
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

.display-1{
    font-size: 22px;
}

.display-2{
    font-size: 16px;
}

.display-3{
    font-size: 14px;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.shadow{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


/* section styling */

/* ------- Navigation Menu ------- */
.navbar{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.nav-brand{
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    align-self: center;
    font-size: 32px;
}

.collapse{
    align-self: center;

}

.nav-link{
    font-size: 18px;
    margin: 12px;
    color: var(--dark);
    font-family: "Poppins", sans-serif;
}

.nav-link:hover{
    color: var(--primary-color);
}

.search-box{
    display: inline;
    border-right: 1px solid var(--secondary);
    padding-right: 12px;
    margin-right: 10px;
}

.toggle-button{
    font-size: 21px;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    margin: 8px 10px;
    display: none;
}

.toggle-button:focus{
    outline: none;
}

/* ------- .Navigation Menu ------- */

/* --------- Main Section --------- */

#site-main{
    margin-top: 8em;
}

#posts{
    margin-bottom: 4em;
}

.grid{
    margin: 0 auto;
}

.grid .grid-item{
    
    margin-bottom: 3em;
}

/* --------- .Main Section --------- */

/* ------------ Footer ------------ */
.footer{
    padding: 2em;
}

.copyrights{
    padding: 10px 0;
}
/* ------------ .Footer ------------ */

/* ------------ Sticky ------------ */

.sticky{
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
}

/* ------------ .Sticky ------------ */

/* Media Query */
@media (max-width: 1000px){
    .navbar{
        flex-direction: column;
    }

    #site-main{
        margin-top: 17em;
    }
}

@media (max-width: 600px){
    .toggle-button{
        display: initial;
    }

    .collapse{
        max-height: 0;
        overflow: hidden;
        transition: all 0.8s cubic-bezier(1, 0.02, 0, 0.97);
    }

    .collapse .nav-link{
        display: block;
        text-align: center;
    }
    
    .search-box{
        border-right: none;
    }

    .collapse-toggle{
        max-height: 500px;
    }

    #site-main{
        margin-top: 8em;
    }
}